body{
  background-color: rgb(39, 43, 51);;
}

header{
  background-color: rgb(28, 31, 36);;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
}

header>input{
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-family: sans-serif;
}



.headerContainer{
  /* background-color: yellow; */
  display: flex;
}

.headerContainer> a{
  text-decoration: none;
  color: white;
}

main{
  min-height: 90vh;
  position: relative;
}

.loader{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.noResultWrapper{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rick{
  /* background-color: yellow; */
  padding: 0 5% 0 5%;
  width: 150px;
  height: 150px;
}


.NoResult{
  font-family: sans-serif;
  color: white;
  text-align: center;
}
