.card{
  background-color: rgb(60, 62, 68);
  width: 305px;
  min-height: 500px;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.276);
  font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  margin-top: 20px;
  margin-right: 2%;
  color: white;
}

 .card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
 .card > .image-container {
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
 .card > .image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

 .info{
    padding-left: 10px;

 }



 .Alive{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(82, 245, 82);
 }

 .Dead{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(240, 64, 64);
 }

 .Uknown{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(240, 175, 64);
 }

.episodes{
  /* background-color: green; */
  display: flex;
  align-items: center;
}

.select{
  margin-left: 10px;
  background-color: rgb(32, 32, 32);
  color: rgb(234, 234, 234);
  border: none;
  border-radius: 5px;
  width: 100px;
}

.form{
  /* background-color: red; */
  margin-left: 3px;
}

.submit{
  background-color: rgb(32, 32, 32);
  color: rgb(234, 234, 234);
  margin-left: 10px;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  padding: 3px;

}




 @media only screen and (max-width: 450px) {
  .card:hover {
    transform: scale(1);
    cursor: pointer;
  }
}

